{% extends "portfolio/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<html>
<body>
<div class="container">
<div class="table-responsive text-nowrap">
    <h2> Dane do wysyłki</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">L.p</th>
        <th scope="col">Item title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total item price</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
      <tr>
        <th scope="row">{{ forloop.counter }} </th> <!-- wylicza od jednego-->
        <td>{{ order.item.title }}</td>
        <td>{{ order.item.price }}</td>
        <td><a href="{% url 'remove_from_cart_single_item' pk=order.item.id %}"><i class="fas fa-minus mr-2"></i></a>
            {{ order.quantity }} 
            <a href="{% url 'add_to_cart_single_item' pk=order.item.id %}"><i class="far fa-plus-square ml-2"></i></td></a>
                    
        <td>{{ order.get_total_item_price}}</td>

      </tr>
      {% empty %}
      <tr>
        <td>Your cart is empty</td>
    </tr>
    <tr>
        <td colspan="5">
        <a class='btn btn-primary float-right ml-2' href="{% url 'item_list' %}">Continiue shopping</a>
        </td>
    </tr>
    {% endfor %}
    {% if total_price.get_total %}
    <tr>
        <td colspan="4"><b>Order Total</b></td>
        <td><b>{{ total_price.get_total }} zł</b></td>
    </tr>
    {% endif %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
        <button class='btn btn-primary' type="submit">Przejdz do sposobu płatności</button>
 </form>
</div>
<br><br><br>

</form>

</body>

{% endblock %}
