{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


<html>
    
</html>



{% block content %}
<div class="container">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
   <h1 class="text-center">{{ detail.title}}</h1>
   <div class="row text-center">
        <div class="col-md-6">
            <img width= 500px; src="{{ detail.img.url}}" class="img-thumbnail" ><br><br>
        </div>
        <div class="col-md-6">
        

            <h3 class="text-center"></h3>
                <p>{{ detail.description }}</p>
                {% if detail.size == True %}
                <p><strong>Dostępne rozmiary</strong></p>
                {% for wariant in wariant_detail %}
                {% if wariant.ilosc > 30  %}
                <p class="btn btn-info">{{wariant.title}}<br>Dużo</p>
                {% elif wariant.ilosc < 10 and wariant.ilosc != 0 %}
                 <p class="btn btn-secondary">{{wariant.title}}<br>Resztki</p>
                {% elif wariant.ilosc  == 0 %}
                <p class="btn btn-dark">{{wariant.title}}<br>Brak</p>
                {% else %}
                <p class="btn btn-info">{{wariant.title}}<br>Mało</p>
                {% endif %}
                {% endfor %}
                {% else %}
                <p><strong>Dostępna ilość</strong></p>
                {% if detail.ilosc > 30  %}
                <p class="btn btn-info">Dużo</p>
                {% elif detail.ilosc < 10 and detail.ilosc != 0 %}
                 <p class="btn btn-secondary">Resztki</p>
                {% elif detail.ilosc  == 0 %}
                <p class="btn btn-dark">Brak</p>
                {% else %}
                <p class="btn btn-info">Mało</p>
                {% endif %}
                
                {% endif %}

        </div>
        
   </div>
  

{% comment %} <div class="d-flex flex-wrap align-content-start">
<div class="d-flex flex-column">
<center><h1>{{ detail.title}}</h1></center>                                       
{{ detail.description }}<br>
{{detail.price}} zł<br>
<img width= 500px; src="{{ detail.img.url}}" class="img-thumbnail" ><br><br>
</div> {% endcomment %}


{% if detail.size == True %}
<form method="POST" action="{% url 'add-to-cart' detail.id %}">
{% csrf_token %}
<div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.rozmiar|as_crispy_field}}  
      </div>
      <div class="form-group col-md-2 mb-0">
      {{ iloscform.ilosc|as_crispy_field}}
      </div>
</div>

<button class="btn btn-primary btn-md my-0 p" type='submit'>Dodaj do koszyka</button>
</form>
{% else %}
<form method="POST" action="{% url 'add-to-cart' detail.id %}">
{% csrf_token %}
<div class="form-row">
      <div class="form-group col-md-2 mb-0">
      {{ iloscform.ilosc|as_crispy_field}}
      </div>
</div>
<button class="btn btn-primary btn-md my-0 p" type='submit'>Dodaj do koszyka</button>
</form>
{% endif %} 




{% endblock %}