{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


<html>
    
</html>

{% block content %}
<div class="container">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<center><h1>{{ order_object.item.title}}</h1></center>
{{ order_object.item.description }}<br>
{{order_object.item.price}} zł<br>
<img width= 500px; src="{{ order_object.item.img.url}}" class="img-thumbnail" ><br><br>
{% comment %} <form method='POST' action="{% url 'add-to-cart' detail.id %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{form.rozmiar|as_crispy_field}} 
      </div>
        </div>
     <button class="btn btn-primary btn-md my-0 p type="submit">Dodaj do koszyka</button>
</form>  {% endcomment %}




{% comment %} <a href="{% url 'add-to-cart' detail.id %}" class="btn btn-primary btn-md my-0 p"> Dodaj do koszyka</a> {% endcomment %}
</div>
{% endblock %}