{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
<br><BR>

<div class="table-responsive text-nowrap">
    <h2> Zamówienia</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">L.p</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">W trakcie realizacji</th>
        <th scope="col">W trakcie dostarczania</th>
        <th scope="col">Dostarczona</th>
        <th scope="col">Data zamówienia</th>
        <th scope="col">Ref code</th>
        <th scope="col">Przedmioty</td>
        
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
     
      <tr>
        <th scope="row">{{ forloop.counter }} </th> <!-- wylicza od jednego-->
        <td><a href=""> {{ order.user }}</a></td>
        {% if order.zamowienie_w_realizacji == False %}
        <td><i class="fas fa-times fa-2x red-text"></i></td>
        {% else %}
        <td><i class="fas fa-check fa-2x green-text"></i></td>
        {% endif %}
        {% if order.w_trakcie_dostarczania == False %}
       <td><i class="fas fa-times fa-2x red-text"></i></td>
        {% else %}
        <td><i class="fas fa-check fa-2x green-text"></i></td>
        {% endif %}
        {% if order.odebrana == False %}
        <td><i class="fas fa-times fa-2x red-text"></i></td>
        {% else %}
        <td><i class="fas fa-check fa-2x green-text"></i></td>
        {% endif %}
        <td>{{ order.start_date}}</td>
        <td>{{ order.ref_code}}</td>
        <td><a href="{% url 'zamowienia_detail' order.id %}">Kliknij tutaj</a></td>
      {% empty %}
      <p><i>Aby pojawiło się tutaj zamówienie, najpierw musisz je oplacić</i></p>
                    

      </tr>
  {% endfor %}

{% endblock %}